@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");
html {
  font-size: 10;
}
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-istok-web: "Istok Web";

  /* font sizes */
  --font-size-xl: 2rem;
  --font-size-3xs: 1rem;
  --font-size-xs: 1.2rem;
  --font-size-52xl-5: 7.15rem;
  --font-size-base: 1.6rem;
  --font-size-5xs: 0.8rem;
  --font-size-8xs: 0.5rem;
  --font-size-4xs-5: 0.85rem;
  --font-size-6xs: 0.7rem;
  --font-size-6xs-5: 0.65rem;

  /* Colors */
  --color-skyblue: #85b7d2;
  --color-white: #fff;
  --color-lightblue: rgba(192, 218, 232, 0.46);
  --color-black: #000;
  --color-steelblue: #418eb8;
  --color-aliceblue: #e2eef5;
  --color-silver: #c5c5c5;

  /* Gaps */
  --gap-11xs: 0.2rem;

  /* Paddings */
  --padding-5xs: 0.8rem;
  --padding-3xs: 1rem;
  --padding-base: 1.6rem;
  --padding-9xs-8: 0.38rem;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-5xl-9: 24.9px;
  --br-11xs-9: 1.9px;
  --br-9xs-5: 3.5px;
  --br-10xs-5: 2.5px;
  --br-10xs: 3px;
}
