@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

html {
  font-size: 16px;

  @media screen and (max-width: 390px) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-noto-sans: "Noto Sans JP", sans-serif;
  --font-default-optical-sizing: auto;
  --font-default-style: normal;

  /* font sizes */
  --font-size-xl: 2rem;
  --font-size-3xs: 1rem;
  --font-size-xs: 1.2rem;
  --font-size-52xl-5: 7.15rem;
  --font-size-base: 1.6rem;
  --font-size-5xs: 0.8rem;
  --font-size-8xs: 0.5rem;
  --font-size-4xs-5: 0.85rem;
  --font-size-6xs: 0.7rem;
  --font-size-6xs-5: 0.65rem;

  /* Colors */
  --color-skyblue: #85b7d2;
  --color-white: #fff;
  --color-lightblue: rgba(192, 218, 232, 0.46);
  --color-black: #000;
  --color-steelblue: #418eb8;
  --color-aliceblue: #e2eef5;
  --color-silver: #c5c5c5;

  /* Gaps */
  --gap-11xs: 0.2rem;

  /* Paddings */
  --padding-5xs: 0.8rem;
  --padding-3xs: 1rem;
  --padding-base: 1.6rem;
  --padding-9xs-8: 0.38rem;

  /* Border radiuses */
  --br-31xl: 50px;
  --br-5xl-9: 24.9px;
  --br-11xs-9: 1.9px;
  --br-9xs-5: 3.5px;
  --br-10xs-5: 2.5px;
  --br-10xs: 3px;
}

* {
  font-family: var(--font-noto-sans);
  letter-spacing: 0.05em;
}

.div {
  left: 4.1rem;
  letter-spacing: 0.05em;
}

.div1 {
  position: absolute;
  top: 7.4rem;
  left: 4.1rem;
  letter-spacing: 0.05em;
}

.div2 {
  position: absolute;
  top: 7.4rem;
  left: 16rem;
  letter-spacing: 0.05em;
}

.classLogo31 {
  position: absolute;
  top: 1.8rem;
  left: 3.8rem;
  width: 7.7rem;
  height: 1.9rem;
  object-fit: cover;
  cursor: pointer;
}

.footerChild {
  position: absolute;
  top: 6.5rem;
  left: 33.3rem;
  width: 2.3rem;
  height: 2.3rem;
  object-fit: cover;
}

.child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 24.94px;
  background-color: var(--color-steelblue);
}

.div4 {
  position: absolute;
  height: 57.46%;
  width: 69.71%;
  top: 25.98%;
  left: 15.48%;
  font-size: 1rem;
  letter-spacing: 0.1em;
  font-family: var(--font-noto-sans);
  font-optical-sizing: var(--font-default-optical-sizing);
  font-style: var(--font-default-style);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}

.button1 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 50.82rem;
  left: 18.05rem;
  box-shadow: 0.9974358677864075px 1.994871735572815px 1.99px rgba(0, 0, 0, 0.25);
  width: 10.91rem;
  height: 2.5rem;
}

.div7 {
  position: absolute;
  top: 0.9rem;
  left: 1rem;
  letter-spacing: 0.05em;
}

.div8 {
  position: absolute;
  top: 3.39rem;
  left: 1rem;
  letter-spacing: 0.05em;
}

.div9 {
  position: absolute;
  top: 4.89rem;
  left: 1rem;
  letter-spacing: 0.05em;
}

.div10 {
  position: absolute;
  top: 6.38rem;
  left: 1rem;
  letter-spacing: 0.05em;
}

.div11 {
  position: absolute;
  top: 6.38rem;
  left: 10.97rem;
  letter-spacing: 0.05em;
}

.div12 {
  position: absolute;
  top: 7.88rem;
  left: 1rem;
  letter-spacing: 0.05em;
}

.div13 {
  position: absolute;
  top: 9.38rem;
  left: 1rem;
  letter-spacing: 0.05em;
}

.div14 {
  position: absolute;
  top: 9.38rem;
  left: 10.97rem;
  letter-spacing: 0.05em;
}

.div15 {
  position: absolute;
  top: 7.88rem;
  left: 10.97rem;
  letter-spacing: 0.05em;
}

.exampleclassokinawa {
  position: absolute;
  top: 4.89rem;
  left: 10.97rem;
  letter-spacing: 0.05em;
}

.div16 {
  position: absolute;
  top: 3.39rem;
  left: 10.97rem;
  letter-spacing: 0.05em;
}

.div6 {
  position: absolute;
  top: 36.71rem;
  left: 1.45rem;
  border-radius: 2.99px;
  background-color: var(--color-aliceblue);
  width: 32.02rem;
  height: 11.52rem;
}

.inner {
  position: absolute;
  top: 4.22rem;
  left: 10.9rem;
  width: 15.5rem;
  height: 0.14rem;
}

.icon {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 0.62rem;
  height: 0.7rem;
  object-fit: cover;
}

.div19 {
  position: absolute;
  top: 0rem;
  left: 0.71rem;
  letter-spacing: 0.05em;
}

.div18 {
  position: absolute;
  top: 5.99rem;
  left: 21.18rem;
  width: 5.31rem;
  height: 0.7rem;
  font-size: 0.5rem;
}

.div21 {
  position: absolute;
  top: 4.89rem;
  left: 15.46rem;
  letter-spacing: 0.05em;
}

.div22 {
  position: absolute;
  top: 5.89rem;
  left: 10.97rem;
  letter-spacing: 0.05em;
}

.div23 {
  position: absolute;
  top: 5.89rem;
  left: 15.91rem;
  letter-spacing: 0.05em;
}

.div24 {
  position: absolute;
  top: 2.89rem;
  left: 10.97rem;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
}

.div25 {
  position: absolute;
  top: 0.9rem;
  left: 10.97rem;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
}

.div26 {
  position: absolute;
  top: 2.89rem;
  left: 1rem;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
}

.div27 {
  position: absolute;
  top: 0.9rem;
  left: 1rem;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
}

.div17 {
  position: absolute;
  top: 27.73rem;
  left: 1.45rem;
  border-radius: 2.99px;
  background-color: var(--color-aliceblue);
  width: 32.02rem;
  height: 7.63rem;
  font-size: 0.65rem;
}

.at1 {
  position: absolute;
  top: 0rem;
  left: 0.21rem;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 1.2rem;
  height: 1rem;
}

.at {
  position: absolute;
  top: 0rem;
  left: 3.25rem;
  border-radius: 2.49px;
  background-color: var(--color-steelblue);
  width: 1.46rem;
  height: 0.89rem;
}

.vectorIcon {
  position: absolute;
  top: 0.5rem;
  left: 0.79rem;
  width: 0.32rem;
  height: 0.35rem;
}

.vectorIcon1 {
  position: absolute;
  top: 0.04rem;
  left: 0.2rem;
  width: 0.41rem;
  height: 0.41rem;
}

.vectorIcon2 {
  position: absolute;
  top: 0.04rem;
  left: 0.64rem;
  width: 0.27rem;
  height: 0.41rem;
}

.vectorIcon3 {
  position: absolute;
  top: 0.49rem;
  left: 0rem;
  width: 0.81rem;
  height: 0.35rem;
}

.div30 {
  position: absolute;
  top: 0rem;
  left: 1.36rem;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 1.8rem;
  height: 1.1rem;
}

.div29 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 3.16rem;
  height: 1.1rem;
  color: var(--color-steelblue);
}

.maskGroupIcon {
  position: absolute;
  top: 0rem;
  left: 5.63rem;
  width: 1.07rem;
  height: 1.07rem;
  object-fit: cover;
}

.div28 {
  position: absolute;
  top: 24.44rem;
  left: 2.38rem;
  width: 6.7rem;
  height: 1.1rem;
  color: var(--color-white);
}

.main1 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 7.59rem;
  height: 6.86rem;
  background-image: url("/public/images/main@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.main2 {
  position: absolute;
  top: 6.86rem;
  left: 7.59rem;
  width: 7.59rem;
  height: 6.86rem;
  background-image: url("/public/images/main1@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.main3 {
  position: absolute;
  top: 0rem;
  left: 7.59rem;
  width: 7.59rem;
  height: 6.86rem;
  background-image: url("/public/images/main2@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.main4 {
  position: absolute;
  top: 6.86rem;
  left: 0rem;
  width: 7.59rem;
  height: 6.86rem;
  background-image: url("/public/images/main3@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.div31 {
  position: absolute;
  top: 11.87rem;
  left: 18.29rem;
  width: 15.18rem;
  height: 13.72rem;
}

.main5 {
  position: absolute;
  top: 11.87rem;
  left: 1.45rem;
  width: 15.16rem;
  height: 11.77rem;
  background-image: url("/public/images/main4@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.div32 {
  position: absolute;
  top: 7.98rem;
  left: 1.45rem;
  font-size: 1rem;
  letter-spacing: 0.05em;
}

.toyota {
  position: absolute;
  top: 9.48rem;
  left: 1.45rem;
  letter-spacing: 0.05em;
}

.bookingInformation {
  position: absolute;
  top: 0rem;
  left: 3.24rem;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 28.48rem;
  height: 2.89rem;
}

.div34 {
  position: absolute;
  top: 2.43rem;
  left: 15.41rem;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 6.33rem;
  height: 1.15rem;
}

.scheduleIcon {
  position: absolute;
  top: 4.55rem;
  left: -0.07rem;
  width: 35.12rem;
  height: 0.15rem;
}

.div33 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 34.97rem;
  height: 4.63rem;
  font-size: 2rem;
}

.div3 {
  position: absolute;
  top: 490.46rem;
  left: 1.94rem;
  width: 34.97rem;
  height: 53.31rem;
}

.button2 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 202.58rem;
  left: 12.02rem;
  box-shadow: 0.9974358677864075px 1.994871735572815px 1.99px rgba(0, 0, 0, 0.25);
  width: 10.91rem;
  height: 2.5rem;
}

.div38 {
  position: absolute;
  top: 0.05rem;
  left: 0rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 5.29rem;
  height: 0.95rem;
}

.div40 {
  position: absolute;
  top: 0.05rem;
  left: 1.39rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 3.59rem;
  height: 0.95rem;
}

.vectorIcon4 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 1.04rem;
  height: 1.04rem;
}

.div39 {
  position: absolute;
  top: 0rem;
  left: 6.89rem;
  width: 4.98rem;
  height: 1.04rem;
}

.div42 {
  position: absolute;
  top: 0.05rem;
  left: 1.3rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 4.39rem;
  height: 0.95rem;
}

.div41 {
  position: absolute;
  top: 0rem;
  left: 12.17rem;
  width: 5.69rem;
  height: 1.04rem;
}

.div37 {
  position: absolute;
  top: 199.04rem;
  left: 5.74rem;
  width: 17.85rem;
  height: 1.04rem;
}

.rectangleInput {
  border: none;
  background-color: var(--color-aliceblue);
  position: absolute;
  top: 1.45rem;
  left: 0rem;
  border-radius: 24.94px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 24.19rem;
  height: 2.09rem;
}

.div44 {
  position: absolute;
  top: 0rem;
  left: 0.25rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 6.58rem;
  height: 1.45rem;
}

.div43 {
  position: absolute;
  top: 193.6rem;
  left: 5.49rem;
  width: 24.19rem;
  height: 3.54rem;
}

.child1 {
  position: absolute;
  top: 1.3rem;
  left: 0rem;
  border-radius: 2.49px;
  background-color: var(--color-aliceblue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 24.19rem;
  height: 9.57rem;
}

.div46 {
  position: absolute;
  top: 0rem;
  left: 0.25rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 2.79rem;
  height: 1.45rem;
}

.div45 {
  position: absolute;
  top: 181.28rem;
  left: 5.49rem;
  width: 24.19rem;
  height: 10.87rem;
}

.input {
  border: none;
  font-family: var(--font-noto-sans);
  font-optical-sizing: var(--font-default-optical-sizing);
  font-style: var(--font-default-style);
  font-size: 0.7rem;
  background-color: transparent;
  position: absolute;
  top: 36.41rem;
  left: 0rem;
  width: 24.19rem;
  height: 10.57rem;
}

.input1 {
  border: none;
  font-family: var(--font-noto-sans);
  font-optical-sizing: var(--font-default-optical-sizing);
  font-style: var(--font-default-style);
  font-size: 0.7rem;
  background-color: transparent;
  position: absolute;
  top: 24.94rem;
  left: 0rem;
  width: 24.19rem;
  height: 10.57rem;
}

.input2 {
  position: absolute;
  top: 13.47rem;
  left: 0rem;
  width: 24.19rem;
  height: 10.57rem;
}

.input3 {
  position: absolute;
  top: 2rem;
  left: 0rem;
  width: 24.19rem;
  height: 10.57rem;
}

.div48 {
  position: absolute;
  top: 0.05rem;
  left: 0.25rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 10.57rem;
  height: 1.45rem;
}

.div50 {
  position: absolute;
  top: 0.05rem;
  left: 1.39rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 1.8rem;
  height: 0.95rem;
}

.div49 {
  position: absolute;
  top: 0rem;
  left: 6.14rem;
  width: 3.19rem;
  height: 1.04rem;
}

.div52 {
  position: absolute;
  top: 0.05rem;
  left: 1.3rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 1.8rem;
  height: 0.95rem;
}

.div51 {
  position: absolute;
  top: 0rem;
  left: 9.43rem;
  width: 3.09rem;
  height: 1.04rem;
}

.div47 {
  position: absolute;
  top: 132.21rem;
  left: 5.49rem;
  width: 24.19rem;
  height: 46.98rem;
}

.input4 {
  border: none;
  font-family: var(--font-noto-sans);
  font-optical-sizing: var(--font-default-optical-sizing);
  font-style: var(--font-default-style);
  font-size: 0.7rem;
  background-color: transparent;
  position: absolute;
  top: 36.36rem;
  left: 0rem;
  width: 24.19rem;
  height: 10.57rem;
}

.input5 {
  border: none;
  font-family: var(--font-noto-sans);
  font-optical-sizing: var(--font-default-optical-sizing);
  font-style: var(--font-default-style);
  font-size: 0.7rem;
  background-color: transparent;
  position: absolute;
  top: 24.89rem;
  left: 0rem;
  width: 24.19rem;
  height: 10.57rem;
}

.input6 {
  position: absolute;
  top: 13.42rem;
  left: 0rem;
  width: 24.19rem;
  height: 10.57rem;
}

.input7 {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 1.94rem;
  left: 0rem;
  width: 24.19rem;
  height: 10.57rem;
}

.div54 {
  position: absolute;
  top: 0rem;
  left: 0.25rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 10.57rem;
  height: 1.45rem;
}

.div53 {
  position: absolute;
  top: 82.39rem;
  left: 5.49rem;
  width: 24.19rem;
  height: 46.93rem;
}

.child2 {
  position: absolute;
  top: 1.45rem;
  left: 0rem;
  border-radius: 24.94px;
  background-color: var(--color-aliceblue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 3.89rem;
  height: 2.09rem;
}

.div57 {
  position: absolute;
  top: 0rem;
  left: 0.25rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 7.93rem;
  height: 1.45rem;
}

.div58 {
  position: absolute;
  top: 1.85rem;
  left: 1.05rem;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: var(--color-silver);
  display: inline-block;
  width: 2.64rem;
  height: 1.45rem;
}

.div56 {
  position: absolute;
  top: 10.97rem;
  left: 0.03rem;
  width: 8.18rem;
  height: 3.54rem;
}

.div60 {
  position: absolute;
  top: 0rem;
  left: 0.28rem;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  color: var(--color-steelblue);
  display: inline-block;
  width: 6.23rem;
  height: 0.95rem;
}

.child3 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: 24.94px;
  background-color: var(--color-aliceblue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 4.49rem;
  height: 2.09rem;
}

.div62 {
  position: absolute;
  top: 0.4rem;
  left: 1.15rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 3.29rem;
  height: 1.45rem;
}

.vectorIcon8 {
  position: absolute;
  top: 0.9rem;
  left: 2.89rem;
  width: 0.8rem;
  height: 0.5rem;
}

.div61 {
  position: absolute;
  top: 1.45rem;
  left: 0.03rem;
  width: 4.49rem;
  height: 2.09rem;
  display: none;
}

.child4 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: 24.94px;
  background-color: var(--color-aliceblue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 5.89rem;
  height: 2.09rem;
}

.vectorIcon9 {
  position: absolute;
  top: 0.9rem;
  left: 4.29rem;
  width: 0.8rem;
  height: 0.5rem;
}

.div63 {
  position: absolute;
  top: 1.52rem;
  left: 6.33rem;
  width: 5.89rem;
  height: 2.09rem;
  display: none;
}

.div66 {
  position: relative;
  letter-spacing: 0.1em;
}

.keyboardArrowDown {
  position: relative;
  width: 1.6rem;
  height: 1.6rem;
  overflow: hidden;
  flex-shrink: 0;
}

.div65 {
  position: absolute;
  top: 1.49rem;
  left: 0rem;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightblue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 4.5rem;
  height: 2.1rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-3xs) var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs);
}

.div67 {
  position: absolute;
  top: 1.49rem;
  left: 6.3rem;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightblue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 5.9rem;
  height: 2.1rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-3xs) var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs);
}

.div69 {
  position: absolute;
  top: 1.45rem;
  left: 6.51rem;
  width: 4.49rem;
  height: 2.09rem;
  display: none;
}

.div71 {
  position: absolute;
  top: 1.85rem;
  left: 5.22rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 3.29rem;
  height: 1.45rem;
}

.div59 {
  position: absolute;
  top: 5.49rem;
  left: 0rem;
  width: 12.2rem;
  height: 3.59rem;
  font-size: 1rem;
  color: var(--color-black);
}

.child6 {
  border: none;
  background-color: var(--color-aliceblue);
  position: absolute;
  top: 1.45rem;
  left: 0.03rem;
  border-radius: 24.94px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 24.19rem;
  height: 2.09rem;
}

.div72 {
  position: absolute;
  top: 0rem;
  left: 0.28rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 8.78rem;
  height: 1.45rem;
}

.div73 {
  position: absolute;
  top: 1.85rem;
  left: 1.28rem;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: var(--color-silver);
  display: inline-block;
  width: 12.97rem;
  height: 1.45rem;
}

.div55 {
  position: absolute;
  top: 65.93rem;
  left: 5.46rem;
  width: 24.22rem;
  height: 14.51rem;
}

.div75 {
  position: absolute;
  top: 0.05rem;
  left: 0.08rem;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  color: var(--color-steelblue);
  display: inline-block;
  width: 5.29rem;
  height: 0.95rem;
}

.div76 {
  position: absolute;
  top: 0rem;
  left: 6.97rem;
  width: 3.19rem;
  height: 1.04rem;
  font-size: 0.8rem;
  color: var(--color-steelblue);
}

.div78 {
  position: absolute;
  top: 0rem;
  left: 10.25rem;
  width: 3.09rem;
  height: 1.04rem;
  font-size: 0.8rem;
  color: var(--color-steelblue);
}

.div80 {
  position: absolute;
  top: 1.5rem;
  left: 0.03rem;
  width: 4.49rem;
  height: 2.09rem;
  display: none;
}

.div82 {
  position: absolute;
  top: 1.5rem;
  left: 6.51rem;
  width: 4.49rem;
  height: 2.09rem;
  display: none;
}

.input8 {
  border: none;
  font-family: var(--font-noto-sans);
  font-optical-sizing: var(--font-default-optical-sizing);
  font-style: var(--font-default-style);
  font-size: 1rem;
  background-color: var(--color-lightblue);
  position: absolute;
  top: 1.52rem;
  left: 0rem;
  border-radius: var(--br-31xl);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 4.5rem;
  height: 2.1rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-3xs) var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.input9 {
  border: none;
  font-family: var(--font-noto-sans);
  font-optical-sizing: var(--font-default-optical-sizing);
  font-style: var(--font-default-style);
  font-size: 1rem;
  background-color: var(--color-lightblue);
  position: absolute;
  top: 1.52rem;
  left: 6.5rem;
  border-radius: var(--br-31xl);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 4.5rem;
  height: 2.1rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-3xs) var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.div84 {
  position: absolute;
  top: 1.9rem;
  left: 4.97rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 0.95rem;
  height: 1.45rem;
}

.div85 {
  position: absolute;
  top: 1.9rem;
  left: 11.45rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 1rem;
  height: 1.45rem;
}

.div74 {
  position: absolute;
  top: 60.4rem;
  left: 5.65rem;
  width: 13.35rem;
  height: 3.62rem;
  font-size: 1rem;
  color: var(--color-black);
}

.child9 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: 24.94px;
  background-color: var(--color-aliceblue);
  width: 4.49rem;
  height: 2.09rem;
}

.div92 {
  position: absolute;
  top: 1.5rem;
  left: 0.03rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 4.49rem;
  height: 2.09rem;
  display: none;
}

.div94 {
  position: absolute;
  top: 1.5rem;
  left: 6.51rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 4.49rem;
  height: 2.09rem;
  display: none;
}

.div96 {
  position: absolute;
  top: 1.5rem;
  left: 6.5rem;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightblue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 4.5rem;
  height: 2.1rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-3xs) var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs);
}

.div98 {
  position: absolute;
  top: 1.5rem;
  left: 0rem;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightblue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 4.5rem;
  height: 2.1rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-3xs) var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs);
}

.div86 {
  position: absolute;
  top: 54.91rem;
  left: 5.65rem;
  width: 13.35rem;
  height: 3.6rem;
  font-size: 1rem;
  color: var(--color-black);
}

.div103 {
  position: absolute;
  top: 0rem;
  left: 0.05rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 3.74rem;
  height: 0.95rem;
}

.input10 {
  border: none;
  font-family: var(--font-noto-sans);
  font-optical-sizing: var(--font-default-optical-sizing);
  font-style: var(--font-default-style);
  font-size: 1rem;
  background-color: var(--color-aliceblue);
  position: absolute;
  top: 0rem;
  left: 0.04rem;
  border-radius: 24.94px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 6.08rem;
  height: 2.09rem;
}

.frameChild {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: 24.94px;
  background-color: var(--color-aliceblue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 6.08rem;
  height: 2.09rem;
}

.div105 {
  position: absolute;
  top: 0.55rem;
  left: 0.8rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 5.29rem;
  height: 1.45rem;
}

.vectorIcon19 {
  position: absolute;
  top: 0.9rem;
  left: 4.64rem;
  width: 0.8rem;
  height: 0.5rem;
}

.rectangleParent {
  position: absolute;
  top: 2.49rem;
  left: 0.04rem;
  width: 6.08rem;
  height: 2.09rem;
  display: none;
}

.select {
  position: absolute;
  top: 2.48rem;
  left: 0rem;
  border-radius: 42px;
  background-color: var(--color-lightblue);
  box-shadow: 1.679999828338623px 1.679999828338623px 1.68px rgba(0, 0, 0, 0.25);
  width: 6.13rem;
  height: 2.1rem;
  display: flex;
  flex-direction: row;
  padding: 0.76rem 0.84rem 0.67rem 1.34rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.child11 {
  border: none;
  background-color: var(--color-aliceblue);
  position: absolute;
  top: 2.49rem;
  left: 6.48rem;
  border-radius: 24.94px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 16.26rem;
  height: 2.09rem;
}

.div104 {
  position: absolute;
  top: 1.45rem;
  left: 1.25rem;
  width: 22.74rem;
  height: 4.59rem;
  color: var(--color-black);
}

.div106 {
  position: absolute;
  top: 1.85rem;
  left: 0rem;
  font-size: 1rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 3.74rem;
  height: 0.95rem;
}

.div102 {
  position: absolute;
  top: 46.48rem;
  left: 5.69rem;
  width: 23.99rem;
  height: 6.03rem;
}

.div109 {
  position: absolute;
  top: 0.03rem;
  left: 7.96rem;
  width: 4.49rem;
  height: 2.09rem;
  display: none;
}

.div111 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightblue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 5.9rem;
  height: 2.1rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-3xs) var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs);
}

.div113 {
  position: absolute;
  top: 0.03rem;
  left: 14.44rem;
  border-radius: 24.94px;
  background-color: var(--color-aliceblue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 4.49rem;
  height: 2.09rem;
}

.div115 {
  position: absolute;
  top: 0.43rem;
  left: 6.66rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 3.29rem;
  height: 1.45rem;
}

.div116 {
  position: absolute;
  top: 0.43rem;
  left: 13.15rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 3.29rem;
  height: 1.45rem;
}

.div108 {
  position: absolute;
  top: 1.42rem;
  left: 0.03rem;
  width: 18.93rem;
  height: 2.12rem;
  display: none;
}

.div117 {
  position: absolute;
  top: 0rem;
  left: 0.25rem;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  color: var(--color-steelblue);
  display: inline-block;
  width: 3.74rem;
  height: 0.95rem;
}

.child13 {
  border: none;
  background-color: var(--color-aliceblue);
  position: absolute;
  top: 1.47rem;
  left: 0rem;
  border-radius: 24.94px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 24.19rem;
  height: 2.09rem;
}

.div118 {
  position: absolute;
  top: 1.87rem;
  left: 1.25rem;
  letter-spacing: 0.1em;
  color: var(--color-silver);
  display: inline-block;
  width: 12.97rem;
  height: 1.45rem;
}

.div107 {
  position: absolute;
  top: 41.49rem;
  left: 5.49rem;
  width: 24.19rem;
  height: 3.57rem;
  font-size: 1rem;
  color: var(--color-black);
}

.div121 {
  position: absolute;
  top: 0.06rem;
  left: 0.03rem;
  width: 5.89rem;
  height: 2.09rem;
  display: none;
}

.div123 {
  position: absolute;
  top: 0.14rem;
  left: 7.96rem;
  width: 4.49rem;
  height: 2.09rem;
  display: none;
}

.div125 {
  position: absolute;
  top: 0.06rem;
  left: 14.44rem;
  width: 4.49rem;
  height: 2.09rem;
  display: none;
}

.div129 {
  position: absolute;
  top: 0rem;
  left: 8rem;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightblue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 4.5rem;
  height: 2.1rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-3xs) var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs);
}

.div131 {
  position: absolute;
  top: 0rem;
  left: 14.5rem;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightblue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 4.5rem;
  height: 2.1rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-3xs) var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs);
}

.div133 {
  position: absolute;
  top: 0.34rem;
  left: 6.66rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 3.29rem;
  height: 1.45rem;
}

.div134 {
  position: absolute;
  top: 0.34rem;
  left: 13.15rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 3.29rem;
  height: 1.45rem;
}

.div120 {
  position: absolute;
  top: 1.5rem;
  left: 0.03rem;
  width: 19rem;
  height: 2.1rem;
  display: none;
}

.div135 {
  position: absolute;
  top: 0rem;
  left: 0.25rem;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  color: var(--color-steelblue);
  display: inline-block;
  width: 6.38rem;
  height: 0.95rem;
}

.child17 {
  border: none;
  background-color: var(--color-aliceblue);
  position: absolute;
  top: 1.46rem;
  left: 0rem;
  border-radius: 24.94px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 24.19rem;
  height: 2.09rem;
}

.div136 {
  position: absolute;
  top: 1.86rem;
  left: 1.25rem;
  letter-spacing: 0.1em;
  color: var(--color-silver);
  display: inline-block;
  width: 12.97rem;
  height: 1.45rem;
}

.div119 {
  position: absolute;
  top: 36.01rem;
  left: 5.49rem;
  width: 24.19rem;
  height: 3.56rem;
  font-size: 1rem;
  color: var(--color-black);
}

.div138 {
  position: absolute;
  top: 0rem;
  left: 0.25rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 4.39rem;
  height: 1.45rem;
}

.div139 {
  position: absolute;
  top: 1.85rem;
  left: 1.25rem;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: var(--color-silver);
  display: inline-block;
  width: 12.97rem;
  height: 1.45rem;
}

.div137 {
  position: absolute;
  top: 30.52rem;
  left: 5.49rem;
  width: 24.19rem;
  height: 3.54rem;
}

.div140 {
  position: absolute;
  top: 25.04rem;
  left: 5.49rem;
  width: 24.19rem;
  height: 3.54rem;
}

.div143 {
  position: absolute;
  top: 19.55rem;
  left: 5.49rem;
  width: 24.19rem;
  height: 3.54rem;
}

.div147 {
  position: absolute;
  top: 1.9rem;
  left: 1.25rem;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: var(--color-silver);
  display: inline-block;
  width: 6.83rem;
  height: 1.45rem;
}

.div145 {
  position: absolute;
  top: 14.06rem;
  left: 5.49rem;
  width: 24.19rem;
  height: 3.54rem;
}

.div149 {
  position: absolute;
  top: 0rem;
  left: 0.25rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 3.29rem;
  height: 1.45rem;
}

.div148 {
  position: absolute;
  top: 8.58rem;
  left: 5.49rem;
  width: 24.19rem;
  height: 3.54rem;
}

.yourInformation {
  position: absolute;
  top: 0rem;
  left: 5.49rem;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 24.04rem;
  height: 2.89rem;
}

.div152 {
  position: absolute;
  top: 2.58rem;
  left: 14.36rem;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 6.33rem;
  height: 1.15rem;
}

.scheduleIcon1 {
  position: absolute;
  top: 4.78rem;
  left: 0rem;
  width: 34.97rem;
  height: 0rem;
}

.div151 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 34.97rem;
  height: 4.78rem;
  font-size: 2rem;
}

.scheduleIcon2 {
  position: absolute;
  top: 4.33rem;
  left: -0.07rem;
  width: 35.12rem;
  height: 0.15rem;
}

.div35 {
  position: absolute;
  top: 242.85rem;
  left: 1.94rem;
  width: 34.97rem;
  height: 205.07rem;
}

.scheduleChild {
  position: absolute;
  top: 20.91rem;
  left: 8.48rem;
  border-radius: 3.49px;
  background-color: var(--color-lightblue);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  width: 18.15rem;
  height: 23.39rem;
}

.div154 {
  position: absolute;
  top: 0.71rem;
  left: 0rem;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 6.3rem;
  height: 1.1rem;
}

.maskGroupIcon1 {
  position: absolute;
  top: 0rem;
  left: 5.58rem;
  width: 1.07rem;
  height: 1.07rem;
  object-fit: cover;
}

.div153 {
  position: absolute;
  top: 35.47rem;
  left: 19.36rem;
  width: 6.65rem;
  height: 1.81rem;
  color: var(--color-black);
}

.h {
  position: absolute;
  top: 38.11rem;
  left: 16.16rem;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  color: var(--color-black);
}

.alphard {
  position: absolute;
  top: 35.47rem;
  left: 9.46rem;
  font-size: var(--font-size-base);
  letter-spacing: 0.1em;
  color: var(--color-black);
}

.main6 {
  position: absolute;
  top: 20.91rem;
  left: 8.48rem;
  border-radius: 3.49px 3.49px 0px 0px;
  width: 18.15rem;
  height: 14.06rem;
  background-image: url("/public/images/main5@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.div156 {
  position: absolute;
  height: 57.46%;
  width: 69.71%;
  top: 25.98%;
  left: 15.48%;
  letter-spacing: 0.1em;
  display: inline-block;
}

.div155 {
  position: absolute;
  top: 38.36rem;
  left: 19.95rem;
  box-shadow: 0.9974358677864075px 1.994871735572815px 1.99px rgba(0, 0, 0, 0.25);
  width: 6.13rem;
  height: 2rem;
  display: none;
}

.p {
  margin: 0;
}

.p1 {
  margin: 0;
  font-size: 0.5rem;
}

.div158 {
  position: absolute;
  height: 57.46%;
  width: 69.71%;
  top: 25.98%;
  left: 15.48%;
  letter-spacing: 0.1em;
  white-space: pre-wrap;
  display: none;
}

.div157 {
  position: absolute;
  top: 40.35rem;
  left: 9.96rem;
  box-shadow: 0.9974358677864075px 1.994871735572815px 1.99px rgba(0, 0, 0, 0.25);
  width: 7.1rem;
  height: 2.7rem;
  font-size: 0.85rem;
}

.div159 {
  position: absolute;
  top: 40.35rem;
  left: 17.96rem;
  box-shadow: 0.9974358677864075px 1.994871735572815px 1.99px rgba(0, 0, 0, 0.25);
  width: 7.2rem;
  height: 2.7rem;
  font-size: 0.85rem;
}

.div161 {
  position: absolute;
  top: 40.97rem;
  left: 11.66rem;
  font-size: var(--font-size-5xs);
  letter-spacing: 0.1em;
}

.div162 {
  position: absolute;
  top: 41.97rem;
  left: 12.16rem;
  font-size: var(--font-size-8xs);
  letter-spacing: 0.1em;
}

.div163 {
  position: absolute;
  top: 41.97rem;
  left: 20.26rem;
  font-size: var(--font-size-8xs);
  letter-spacing: 0.1em;
}

.div164 {
  position: absolute;
  top: 40.97rem;
  left: 18.96rem;
  font-size: var(--font-size-5xs);
  letter-spacing: 0.1em;
}

.scheduleItem {
  position: absolute;
  top: 37.52rem;
  left: 9.45rem;
  width: 16.35rem;
  height: 0.07rem;
}

.icon1 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 1rem;
  height: 1rem;
}

.div166 {
  position: absolute;
  top: 0rem;
  left: 1.3rem;
}

.div165 {
  position: absolute;
  top: 10.54rem;
  left: 25.78rem;
  width: 4.5rem;
  height: 1.1rem;
  color: var(--color-steelblue);
}

.div169 {
  position: absolute;
  top: 0.35rem;
  left: 0.85rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 5.79rem;
  height: 1.45rem;
}

.vectorIcon25 {
  position: absolute;
  top: 0.6rem;
  left: 7.23rem;
  width: 0.75rem;
  height: 0.8rem;
  display: none;
}

.div168 {
  position: absolute;
  top: 0rem;
  left: 5.69rem;
  border-radius: 24.94px;
  background-color: var(--color-lightblue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 8.73rem;
  height: 2rem;
}

.child26 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: 24.94px;
  background-color: var(--color-lightblue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 5.24rem;
  height: 2rem;
}

.div171 {
  position: absolute;
  top: 0.35rem;
  left: 0.95rem;
  letter-spacing: 0.1em;
  display: inline-block;
  width: 2.24rem;
  height: 1.45rem;
}

.vectorIcon26 {
  position: absolute;
  top: 0.8rem;
  left: 3.79rem;
  width: 0.8rem;
  height: 0.5rem;
}

.div170 {
  position: absolute;
  top: 0rem;
  left: 14.81rem;
  width: 5.24rem;
  height: 2rem;
  display: none;
}

.keyboardArrowDown8 {
  position: relative;
  width: 1.4rem;
  height: 1.4rem;
  overflow: hidden;
  flex-shrink: 0;
}

.div172 {
  position: absolute;
  top: 0.06rem;
  left: 14.77rem;
  border-radius: var(--br-31xl);
  background-color: var(--color-lightblue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 5.3rem;
  height: 1.9rem;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-3xs) var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs);
}

.div174 {
  position: absolute;
  top: 0.4rem;
  left: 0rem;
  letter-spacing: 0.1em;
  color: var(--color-steelblue);
  display: inline-block;
  width: 4.29rem;
  height: 1.45rem;
}

.div167 {
  position: absolute;
  top: 11.19rem;
  left: 4.69rem;
  width: 20.07rem;
  height: 2rem;
  font-size: 1rem;
  color: var(--color-black);
}

.div176 {
  position: absolute;
  top: 0.35rem;
  left: 0rem;
  letter-spacing: 0.1em;
  color: var(--color-steelblue);
  display: inline-block;
  width: 4.29rem;
  height: 1.45rem;
}

.div177 {
  position: absolute;
  top: 0rem;
  left: 5.69rem;
  border-radius: 24.94px;
  background-color: var(--color-aliceblue);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  width: 8.73rem;
  height: 2rem;
}

.vectorIcon28 {
  position: relative;
  width: 0.48rem;
  height: 0.48rem;
}

.calendarOverlayButton {
  position: absolute;
  top: 0.46rem;
  left: 12.67rem;
  border-radius: 1.92px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: 0.38rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.calendarOverlayButton1 {
  position: absolute;
  top: 2.96rem;
  left: 12.67rem;
  border-radius: 1.92px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  padding: 0.38rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.div175 {
  position: absolute;
  top: 8.69rem;
  left: 4.69rem;
  width: 20.07rem;
  height: 4.16rem;
  font-size: 1rem;
  color: var(--color-black);
}

.schedule1 {
  position: absolute;
  top: 0rem;
  left: 11.32rem;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 12.42rem;
  height: 2.9rem;
}

.div184 {
  position: absolute;
  top: 2.55rem;
  left: 14.36rem;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 6.33rem;
  height: 1.15rem;
}

.scheduleIcon3 {
  position: absolute;
  top: 4.67rem;
  left: -0.07rem;
  width: 35.12rem;
  height: 0.15rem;
}

.div183 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 34.97rem;
  height: 4.74rem;
  font-size: 2rem;
  color: var(--color-steelblue);
}

.button3 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 16.27rem;
  left: 12.02rem;
  box-shadow: 0.9974358677864075px 1.994871735572815px 1.99px rgba(0, 0, 0, 0.25);
  width: 10.91rem;
  height: 2.5rem;
}

.schedule {
  position: absolute;
  top: 194.51rem;
  left: 1.94rem;
  width: 34.97rem;
  height: 44.3rem;
  text-align: left;
  font-size: 0.8rem;
  color: var(--color-white);
  font-family: var(--font-noto-sans);
  font-optical-sizing: var(--font-default-optical-sizing);
  font-style: var(--font-default-style);
}

.h1 {
  margin: 0;
  position: absolute;
  top: 31.9rem;
  left: 1.4rem;
  font-size: inherit;
  letter-spacing: 0.2em;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-steelblue);
}

.ellipseDiv {
  position: absolute;
  top: 0rem;
  left: 0rem;
  border-radius: 50%;
  background-color: var(--color-skyblue);
  width: 27.48rem;
  height: 27.48rem;
}

.div187 {
  position: absolute;
  top: 18.32rem;
  left: 19.22rem;
  font-size: var(--font-size-52xl-5);
  letter-spacing: 0.1em;
  text-align: left;
  text-shadow: 4.46875px 8.9375px 8.94px rgba(0, 0, 0, 0.5);
}

.h11 {
  margin: 0;
  position: absolute;
  top: 11.4rem;
  left: 4.2rem;
  font-size: var(--font-size-xl);
  letter-spacing: 0.2em;
  font-weight: 700;
  font-family: inherit;
}

.div186 {
  position: absolute;
  top: 97.8rem;
  left: 2.2rem;
  width: 27.72rem;
  height: 38.8rem;
}

.h12 {
  margin: 0;
  position: absolute;
  top: 32.9rem;
  left: 0.4rem;
  font-size: inherit;
  letter-spacing: 0.2em;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-steelblue);
}

.h13 {
  margin: 0;
  position: absolute;
  top: 11.4rem;
  left: 1.8rem;
  font-size: var(--font-size-xl);
  letter-spacing: 0.2em;
  font-weight: 700;
  font-family: inherit;
}

.div188 {
  position: absolute;
  top: 51.8rem;
  left: 2.2rem;
  width: 27.72rem;
  height: 37.5rem;
}

.h14 {
  margin: 0;
  position: absolute;
  top: 33.9rem;
  left: 0.5rem;
  font-size: inherit;
  letter-spacing: 0.2em;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-steelblue);
}

.h15 {
  margin: 0;
  position: absolute;
  top: 11.8rem;
  left: 3.1rem;
  font-size: var(--font-size-xl);
  letter-spacing: 0.2em;
  font-weight: 700;
  font-family: inherit;
}

.div190 {
  position: absolute;
  top: 8.8rem;
  left: 2.2rem;
  width: 27.48rem;
  height: 38.5rem;
}

.classLogo {
  position: absolute;
  top: 0rem;
  left: 7.43rem;
  width: 24.14rem;
  height: 26.45rem;
  background-image: url("/public/images/class-logo@3x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.main {
  text-align: left;
  font-size: 0.8rem;
  color: var(--color-steelblue);
  font-family: var(--font-noto-sans);
  font-optical-sizing: var(--font-default-optical-sizing);
  font-style: var(--font-default-style);
}

.div192 {
  position: absolute;
  top: -3.24rem;
  left: 0rem;
  letter-spacing: 0.1em;
}

.menuIcon {
  position: absolute;
  top: 3.12rem;
  left: 34.56rem;
  width: 1.85rem;
  height: 1.6rem;
}

.child31 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 9.33px;
  background-color: var(--color-white);
  border: 0.3px solid var(--color-skyblue);
  box-sizing: border-box;
}

.b {
  position: absolute;
  top: 25.86%;
  left: 30.09%;
  font-size: 0.59rem;
  letter-spacing: 0.1em;
  font-family: var(--font-noto-sans);
  font-optical-sizing: var(--font-default-optical-sizing);
  font-style: var(--font-default-style);
  color: var(--color-skyblue);
  text-align: left;
}

.button4 {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 3.01rem;
  left: 26.9rem;
  box-shadow: 0.5925926566123962px 1.1851853132247925px 1.19px rgba(0, 0, 0, 0.25);
  width: 6.4rem;
  height: 1.72rem;
}

.h31 {
  margin: 0;
  position: absolute;
  top: 143.9rem;
  left: 9.8rem;
  font-size: var(--font-size-xs);
  letter-spacing: 0.2em;
  font-weight: 400;
  font-family: inherit;
  color: var(--color-steelblue);
  text-align: center;
}

.topLp {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 532.4rem;
  overflow: hidden;
  text-align: left;
  font-size: 1rem;
  color: var(--color-black);
  font-family: var(--font-noto-sans);
  font-optical-sizing: var(--font-default-optical-sizing);
  font-style: var(--font-default-style);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

.customTitle {
  color: #418EB8;
  text-align: center;
  margin: 2.3rem;
  border-bottom: 1.5px solid var(--color-steelblue);

  h1 {
    letter-spacing: 0.05em;
    font-size: 2rem;
    font-family: var(--font-noto-sans);
    font-optical-sizing: var(--font-default-optical-sizing);
    font-style: var(--font-default-style);
    margin: unset;
  }

  h3 {
    letter-spacing: 0.05em;
    font-family: var(--font-noto-sans);
    font-optical-sizing: var(--font-default-optical-sizing);
    font-style: var(--font-default-style);
    margin: unset;
  }
}

.valiosa {
  .header {
    background-color: var(--color-black);

    .toReservation button.p-button {
      color: var(--color-black);
    }
  }

  .main {
    color: var(--color-black);

    .p-button {
      background-color: var(--color-black);
    }

    .product__card {
      background-color: var(--color-black);
      color: #fff;

      &--stock {
        background-color: #B5B5B5;
      }

      &--description {

        &-title,
        &-passenger,
        &-price {
          color: #fff;
        }

        &-select-buttons button{
          background-color: #fff;
          color: var(--color-black);;
        }
      }
    }
  }

  .footer {
    background-color: var(--color-black);
  }

  .p-scrolltop {
    color: var(--color-black);
    background-color: #B5B5B5;
  }
}