// Button
.p-button, a.button{
    font-size: 1rem;
    margin: 1.5rem auto;
    background-color: #418EB8;
    border: none;
    color: white;
    padding: 0.6rem;
    width: 10rem;
    border-radius: 2rem;
    cursor: pointer;
    &-danger {
        background-color: #D32F2F;
    }
    &-secondary {
        background: #607D8B;
    }

    &.icon_only {
        color: #418EB8;
        background: unset;
        width: auto;
    }

}

// Dialog
.p-dialog {
    &-header {
        justify-content: end;
        padding-bottom: 0;
    }
    &.product-edit {
        width: 70%;
    }
    &-footer {
        display: flex;
        justify-content: center;
    }
}

// Side Menu
.p-sidebar-visible {
    .p-sidebar {
        &-content {
            padding: initial;
        }
    }
    .p-menu {
        width: auto;
        border: none;
        font-size: 1.3rem;
        padding: 1rem;
    }
}
