.p-button, a.button{
    font-size: 1rem;
    margin-bottom: 1.5rem;
    background-color: #418EB8;
    border: none;
    color: white;
    padding: 0.6rem;
    width: 10rem;
    border-radius: 2rem;
    cursor: pointer;
}