// Button
.p-button, a.button{
    font-size: 1rem;
    margin: 1.5rem auto;
    background-color: #418EB8;
    border: none;
    color: white;
    padding: 0.6rem;
    width: 11rem;
    border-radius: 2rem;
    letter-spacing: 0.05em;
    cursor: pointer;
    &-danger {
        background-color: #D32F2F;
    }
    &-secondary {
        background: #607D8B;
    }

    &.icon_only {
        color: #418EB8;
        background: unset;
        width: auto;
    }

}

// Dialog
.p-dialog {
    &-header {
        justify-content: end;
        padding-bottom: 0;
    }
    &.product-edit {
        width: 70%;
    }
    &-footer {
        display: flex;
        justify-content: center;
    }
}

// Side Menu
.p-sidebar-visible {
    .p-sidebar {
        &-header {
            flex-direction: row-reverse;
        }
        &-content {
            padding: 0;
        }
    }
    .p-menu {
        width: auto;
        border: none;
        font-size: 1.3rem;
        padding: 1rem 0;
        color: #495057;
        .p-menuitem-link {
            color: #495057;
            padding: 0.75rem 2rem;
            .label {
                margin-left: 7px;
            }
            &.active {
                background-color: var(--color-skyblue);
                color: var(--color-white) !important;
            }
        }
        &item-content:hover {
            background-color: var(--color-aliceblue);
        }
    }
}

// ScrollTop button
.p-scrolltop {
    background-color: var(--color-skyblue);
    color: var(--color-aliceblue);
}
